.follow-us {
  background-color: var(--maroon);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follow-us h1 {
  color: var(--white);
  padding: 1rem;
  font-family: "Aldrich";
}

.contact-card {
  background-color: var(--white);
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 2rem;
  border-bottom: 0.5rem solid rgb(154, 154, 154);
  border-right: 0.25rem solid rgb(154, 154, 154);
}

.contact-card ul {
  list-style: none;
}
.contact-card ul li {
  padding: 1rem;
  float: left;
}
