.parent {
  background-color: var(--maroon);
  height: fit-content;
}
.shop-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}
